In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv(r"C:\Users\karti\Downloads\dataset.csv")
df.head()

,id,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,2.0,,nochg,2025,47.2917,-122.3658,53,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,NaN,26,nochg,2025,47.6531,-122.1996,74,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,1.0,,nochg,2025,47.4733,-122.1901,30,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,1.0,,nochg,2025,47.4739,-122.3295,96,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,2.0,,miss99,2025,47.7516,-122.1222,36,...,0,0,0,0,0,0,0,0,0,P

In [4]:
df.shape

(200000, 47)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 47 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                200000 non-null  int64
 1   sale_date         200000 non-null  object
 2   sale_price        200000 non-null  int64
 3   sale_nbr          157818 non-null  float64
 4   sale_warning      200000 non-null  object
 5   join_status       200000 non-null  object
 6   join_year         200000 non-null  int64
 7   latitude          200000 non-null  float64
 8   longitude         200000 non-null  float64
 9   area              200000 non-null  int64
 10  city              200000 non-null  object
 11  zoning            200000 non-null  object
 12  subdivision       182450 non-null  object
 13  present_use       200000 non-null  int64
 14  land_val          200000 non-null  int64
 15  imp_val           200000 non-null  int64
 16  year_built        200000 non-null  int64
 17  year_reno         200000 non-null  int64
 18  sqft_lot          200000 non-null  int64
 19  sqft              200000 non-null  int64
 20  sqft_1            200000 non-null  int64
 21  sqft_fbsmt        200000 non-null  int64
 22  grade             200000 non-null  int64
 23  fbsmt_grade       200000 non-null  int64
 24  condition         200000 non-null  int64
 25  stories           200000 non-null  float64
 26  beds              200000 non-null  int64
 27  bath_full         200000 non-null  int64
 28  bath_3qtr         200000 non-null  int64
 29  bath_half         200000 non-null  int64
 30  garb_sqft         200000 non-null  int64
 31  gara_sqft         200000 non-null  int64
 32  wfnt              200000 non-null  int64
 33  golf              200000 non-null  int64
 34  greenbelt         200000 non-null  int64
 35  noise_traffic     200000 non-null  int64
 36  view_rainier      200000 non-null  int64
 37  view_olympics     200000 non-null  int64
 38  view_cascades     200000 non-null  int64
 39  view_territorial  200000 non-null  int64
 40  view_skyline      200000 non-null  int64
 41  view_sound        200000 non-null  int64
 42  view_lakewash     200000 non-null  int64
 43  view_lakesamm     200000 non-null  int64
 44  view_otherwater   200000 non-null  int64
 45  view_other        200000 non-null  int64
 46  submarket         198283 non-null  object
dtypes: float64(4), int64(36), object(7)
memory usage: 71.7+ MB

In [6]:
df.isnull().sum()

id                      0
sale_date               0
sale_price              0
sale_nbr            42182
sale_warning            0
join_status             0
join_year               0
latitude                0
longitude               0
area                    0
city                    0
zoning                  0
subdivision         17550
present_use             0
land_val                0
imp_val                 0
year_built              0
year_reno               0
sqft_lot                0
sqft                    0
sqft_1                  0
sqft_fbsmt              0
grade                   0
fbsmt_grade             0
condition               0
stories                 0
beds                    0
bath_full               0
bath_3qtr               0
bath_half               0
garb_sqft               0
gara_sqft               0
wfnt                    0
golf                    0
greenbelt               0
noise_traffic           0
view_rainier            0
view_olympics           0
view_cascades           0
view_territorial        0
view_skyline            0
view_sound              0
view_lakewash           0
view_lakesamm           0
view_otherwater         0
view_other              0
submarket            1717
dtype: int64

In [7]:
df.columns

Index(['id', 'sale_date', 'sale_price', 'sale_nbr', 'sale_warning',
       'join_status', 'join_year', 'latitude', 'longitude', 'area', 'city',
       'zoning', 'subdivision', 'present_use', 'land_val', 'imp_val',
       'year_built', 'year_reno', 'sqft_lot', 'sqft', 'sqft_1', 'sqft_fbsmt',
       'grade', 'fbsmt_grade', 'condition', 'stories', 'beds', 'bath_full',
       'bath_3qtr', 'bath_half', 'garb_sqft', 'gara_sqft', 'wfnt', 'golf',
       'greenbelt', 'noise_traffic', 'view_rainier', 'view_olympics',
       'view_cascades', 'view_territorial', 'view_skyline', 'view_sound',
       'view_lakewash', 'view_lakesamm', 'view_otherwater', 'view_other',
       'submarket'],
      dtype='object')

In [8]:
df['sale_nbr'] = df['sale_nbr'].fillna(df['sale_nbr'].mean() )

In [9]:
df['subdivision'] = df['subdivision'].fillna(df['subdivision'].mode()[0])

In [10]:
df.head(10)

,id,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,2.000000,,nochg,2025,47.2917,-122.3658,53,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,2.162599,26,nochg,2025,47.6531,-122.1996,74,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,1.000000,,nochg,2025,47.4733,-122.1901,30,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,1.000000,,nochg,2025,47.4739,-122.3295,96,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,2.000000,,miss99,2025,47.7516,-122.1222,36,...,0,0,0,0,0,0,0,0,0,P
5,5,2010-02-15,575000,3.000000,,nochg,2025,47.6813,-122.3666,82,...,0,0,0,0,0,0,0,0,0,B
6,6,2016-10-15,276000,2.000000,,nochg,2025,47.4245,-122.1773,51,...,0,0,0,0,0,0,0,0,0,K
7,7,2001-08-15,235000,1.000000,,nochg,2025,47.3090,-122.3490,54,...,0,0,0,0,0,0,0,0,0,I
8,8,2002-01-15,239950,1.000000,,nochg,2025,47.4955,-122.3565,96,...,0,0,0,0,0,0,0,0,0,G
9,9,2022-05-15,2160000,2.000000,,reno - before,2025,47.6538,-122.3952,11,...,0,0,0,0,0,0,0,0,0,D

In [11]:
df['subdivision']

0              ALDERWOOD SOUTH DIV NO. 02
1                    WILDWOOD LANE NO. 03
2              FALCON RIDGE (CEDAR RIDGE)
3                     OLYMPIC VUE ESTATES
4                HOLLYWOOD HILL HIGHLANDS
                       ...
199995               OVERDALE PARK NO. 03
199996                                C P
199997          OSNERS SUBURBAN HOMES ADD
199998                  TIMBERLINE NO. 01
199999    WEST SEATTLE L&I CO 4TH PLAT OF
Name: subdivision, Length: 200000, dtype: object

In [12]:
df['sale_nbr']

0         2.000000
1         2.162599
2         1.000000
3         1.000000
4         2.000000
            ...
199995    1.000000
199996    2.000000
199997    2.000000
199998    2.000000
199999    2.162599
Name: sale_nbr, Length: 200000, dtype: float64

In [13]:

df['submarket'] = df['submarket'].fillna(df['submarket'].mode()[0] )

In [15]:
df.shape

(200000, 47)

In [16]:
df.head(10)

,id,sale_date,sale_price,sale_nbr,sale_warning,join_status,join_year,latitude,longitude,area,...,view_olympics,view_cascades,view_territorial,view_skyline,view_sound,view_lakewash,view_lakesamm,view_otherwater,view_other,submarket
0,0,2014-11-15,236000,2.000000,,nochg,2025,47.2917,-122.3658,53,...,0,0,0,0,0,0,0,0,0,I
1,1,1999-01-15,313300,2.162599,26,nochg,2025,47.6531,-122.1996,74,...,0,0,0,0,0,1,0,0,0,Q
2,2,2006-08-15,341000,1.000000,,nochg,2025,47.4733,-122.1901,30,...,0,0,0,0,0,0,0,0,0,K
3,3,1999-12-15,267000,1.000000,,nochg,2025,47.4739,-122.3295,96,...,0,0,0,0,0,0,0,0,0,G
4,4,2018-07-15,1650000,2.000000,,miss99,2025,47.7516,-122.1222,36,...,0,0,0,0,0,0,0,0,0,P
5,5,2010-02-15,575000,3.000000,,nochg,2025,47.6813,-122.3666,82,...,0,0,0,0,0,0,0,0,0,B
6,6,2016-10-15,276000,2.000000,,nochg,2025,47.4245,-122.1773,51,...,0,0,0,0,0,0,0,0,0,K
7,7,2001-08-15,235000,1.000000,,nochg,2025,47.3090,-122.3490,54,...,0,0,0,0,0,0,0,0,0,I
8,8,2002-01-15,239950,1.000000,,nochg,2025,47.4955,-122.3565,96,...,0,0,0,0,0,0,0,0,0,G
9,9,2022-05-15,2160000,2.000000,,reno - before,2025,47.6538,-122.3952,11,...,0,0,0,0,0,0,0,0,0,D

In [17]:
df.drop(['view_rainier'] , axis=1, inplace=True)

In [18]:
df['wfnt'].unique

<bound method Series.unique of 0         0
1         0
2         0
3         0
4         0
         ..
199995    0
199996    0
199997    0
199998    0
199999    0
Name: wfnt, Length: 200000, dtype: int64>

In [19]:
df['golf'].unique

<bound method Series.unique of 0         0
1         0
2         0
3         0
4         0
         ..
199995    0
199996    0
199997    0
199998    0
199999    0
Name: golf, Length: 200000, dtype: int64>

In [20]:
df['greenbelt'].unique

<bound method Series.unique of 0         0
1         0
2         0
3         0
4         0
         ..
199995    0
199996    0
199997    0
199998    0
199999    0
Name: greenbelt, Length: 200000, dtype: int64>

In [21]:
df['bath_half'].unique

<bound method Series.unique of 0         0
1         1
2         1
3         1
4         1
         ..
199995    0
199996    1
199997    0
199998    1
199999    0
Name: bath_half, Length: 200000, dtype: int64>

In [22]:
df.drop(['golf','bath_half','wfnt','greenbelt'],axis=1,inplace = True)

In [23]:
def drop_unwanted_columns(df):
    columns_to_drop = [
        'present_use', 'land_val', 'imp_val', 'year_built', 'year_reno',
        'sqft_lot', 'sqft', 'sqft_1', 'sqft_fbsmt', 'grade', 'fbsmt_grade',
        'condition', 'stories', 'beds', 'bath_full', 'bath_3qtr',
        'garb_sqft', 'gara_sqft', 'view_olympics', 'view_cascades',
        'view_territorial', 'view_skyline', 'view_sound', 'view_lakewash',
        'view_lakesamm', 'view_otherwater', 'view_other','sale_date'
    ]
    return df.drop(columns=columns_to_drop, errors='ignore')

In [24]:
df.drop(['noise_traffic'],axis=1,inplace = True)

In [25]:
from sklearn.preprocessing import LabelEncoder

In [26]:

le = LabelEncoder()
for col in ['city', 'zoning', 'subdivision', 'submarket', 'sale_warning', 'join_status']:
    df[col] = le.fit_transform(df[col].astype(str))

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 41 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                200000 non-null  int64
 1   sale_date         200000 non-null  object
 2   sale_price        200000 non-null  int64
 3   sale_nbr          200000 non-null  float64
 4   sale_warning      200000 non-null  int32
 5   join_status       200000 non-null  int32
 6   join_year         200000 non-null  int64
 7   latitude          200000 non-null  float64
 8   longitude         200000 non-null  float64
 9   area              200000 non-null  int64
 10  city              200000 non-null  int32
 11  zoning            200000 non-null  int32
 12  subdivision       200000 non-null  int32
 13  present_use       200000 non-null  int64
 14  land_val          200000 non-null  int64
 15  imp_val           200000 non-null  int64
 16  year_built        200000 non-null  int64
 17  year_reno         200000 non-null  int64
 18  sqft_lot          200000 non-null  int64
 19  sqft              200000 non-null  int64
 20  sqft_1            200000 non-null  int64
 21  sqft_fbsmt        200000 non-null  int64
 22  grade             200000 non-null  int64
 23  fbsmt_grade       200000 non-null  int64
 24  condition         200000 non-null  int64
 25  stories           200000 non-null  float64
 26  beds              200000 non-null  int64
 27  bath_full         200000 non-null  int64
 28  bath_3qtr         200000 non-null  int64
 29  garb_sqft         200000 non-null  int64
 30  gara_sqft         200000 non-null  int64
 31  view_olympics     200000 non-null  int64
 32  view_cascades     200000 non-null  int64
 33  view_territorial  200000 non-null  int64
 34  view_skyline      200000 non-null  int64
 35  view_sound        200000 non-null  int64
 36  view_lakewash     200000 non-null  int64
 37  view_lakesamm     200000 non-null  int64
 38  view_otherwater   200000 non-null  int64
 39  view_other        200000 non-null  int64
 40  submarket         200000 non-null  int32
dtypes: float64(4), int32(6), int64(30), object(1)
memory usage: 58.0+ MB

In [28]:
df['sale_date'] = pd.to_datetime(df['sale_date'])

In [29]:

from sklearn.metrics import r2_score

In [30]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [39]:
x = df.drop(['sale_price','sale_date'] , axis=1)
y = df['sale_price']

In [41]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [43]:
model = RandomForestRegressor()
model.fit(x_train, y_train)

RandomForestRegressor()

In [45]:
pred_1 = model.predict(x_test)
accu = r2_score(y_test,pred_1)

In [47]:
print(accu)

0.6271832890995117